<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="admin.dao.AdminDao">

        <select id="adminLogin" resultType="admin.vo.Admin">
                SELECT id,realname
                FROM tb_admin
                WHERE username = #{username} AND password = #{password}
        </select>

        <insert id="addLog">
                INSERT INTO tb_admin_login_log (adminid, login_time, login_ip)
                VALUES
                (#{adminid}, now(), #{login_ip})
        </insert>

        <select id="checkBeforeUpdate" resultType="int">
                SELECT COUNT(*)
                FROM tb_admin
                WHERE id = #{id} and password = #{password}
        </select>

        <update id="updateAdminInfo">
                UPDATE tb_admin
                SET realname = #{name}, password = #{password}
                WHERE id = #{id}
        </update>

</mapper>