<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="admin.dao.BadmintonDao">

    <select id="getAllOrderByWechat" resultType="admin.vo.Order">
        SELECT a.*, b.name
        FROM
        (
        SELECT id, userid, date, '羽毛球场' type, start_time, end_time, ispay, site_no, iscomplete
        FROM tb_badminton
        <where>
            <if test="date != null and date != ''">
                date = #{date}
            </if>
            <if test="start_time != 0">
                AND start_time = #{start_time}
            </if>
            <if test="end_time != 0">
                AND end_time = #{end_time}
            </if>
        </where>
        ) a,
        (
        SELECT id, name
        FROM tb_user
        <where>
            <if test="name != null and name != ''">
                name = #{name}
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone}
            </if>
        </where>
        ) b
        WHERE a.userid = b.id
        ORDER BY a.date DESC LIMIT #{start}, #{page_size}
    </select>

    <select id="getAllOrderUnwechat" resultType="admin.vo.Order">
        SELECT id, userid, date, '羽毛球场' type, start_time, end_time, ispay, site_no, iscomplete, alias, phone
        FROM tb_badminton
        WHERE alias IS  NOT NULL AND alias != ''
        <if test="alias != null and alias != ''">
            AND alias = #{alias}
        </if>
        <if test="phone != null and phone != ''">
            AND phone = #{phone}
        </if>
        <if test="date != null and date != ''">
            date = #{date}
        </if>
        <if test="start_time != 0">
            AND start_time = #{start_time}
        </if>
        <if test="end_time != 0">
            AND end_time = #{end_time}
        </if>
    </select>

    <select id="getAllCompleteOrder" resultType="admin.vo.Order">
        SELECT a.*, b.name
        FROM
        (
            SELECT id, userid, date, '羽毛球场' type, start_time, end_time, ispay, site_no, alias
            FROM tb_badminton
            WHERE iscomplete = '1'
            <if test="date != null">
                AND date = #{date}
            </if>
            <if test="start_time != null">
                AND start_time = #{start_time}
            </if>
            <if test="end_time != null">
                AND end_time = #{end_time}
            </if>
        ) a
        LEFT JOIN
        (
            SELECT id, name
            FROM tb_user
            <where>
                <if test="name != null">
                    name = #{name}
                </if>
                <if test="phone != null">
                    phone = #{phone}
                </if>
            </where>
        ) b
        ON a.userid = b.id
        ORDER BY a.date DESC LIMIT #{start}, #{page_size}
    </select>

    <select id="getAllIncompleteOrder" resultType="admin.vo.Order">
        SELECT a.*, b.name
        FROM
        (
            SELECT id, userid, date, '羽毛球场' type, start_time, end_time, ispay, site_no, alias
            FROM tb_badminton
            WHERE ispay = '1' AND iscomplete = '0'
            <if test="date != null">
                AND date = #{date}
            </if>
            <if test="start_time != null">
                AND start_time = #{start_time}
            </if>
            <if test="end_time != null">
                AND end_time = #{end_time}
            </if>
        ) a
        LEFT JOIN
        (
            SELECT id, name
            FROM tb_user
            <where>
                <if test="name != null">
                    name = #{name}
                </if>
                <if test="phone != null">
                    phone = #{phone}
                </if>
            </where>
        ) b
        ON a.userid = b.id
        ORDER BY a.date DESC LIMIT #{start}, #{page_size}
    </select>

    <select id="getAllUnpayOrder" resultType="admin.vo.Order">
        SELECT a.*, b.name
        FROM
        (
            SELECT id, userid, date, '羽毛球场' type, start_time, end_time, ispay, site_no, alias
            FROM tb_badminton
            WHERE ispay = '0'
            <if test="date != null">
                AND date = #{date}
            </if>
            <if test="start_time != null">
                AND start_time = #{start_time}
            </if>
            <if test="end_time != null">
                AND end_time = #{end_time}
            </if>
        ) a
        LEFT JOIN
        (
            SELECT id, name
            FROM tb_user
            <where>
                <if test="name != null">
                    name = #{name}
                </if>
                <if test="phone != null">
                    phone = #{phone}
                </if>
            </where>
        ) b
        ON a.userid = b.id
        ORDER BY a.date DESC LIMIT #{start}, #{page_size}
    </select>

    <insert id="addOrder">
        INSERT INTO tb_badminton (userid, date, start_time, end_time, site_no, order_date, ispay, iscomplete, alias)
        VALUES
        ((SELECT id FROM tb_user WHERE name = #{name} AND phone = #{phone}),
          #{date}, #{start_time}, #{end_time}, #{site_no}, now(), '0', '0', #{name})
    </insert>

    <select id="getBookedSite" resultType="string">
        SELECT site_no
		FROM tb_badminton
		WHERE date = #{date} AND start_time <![CDATA[>=]]> #{start_time} AND end_time <![CDATA[>=]]> #{end_time} AND start_time <![CDATA[<]]> #{end_time} AND ispay = '1'
		UNION
		SELECT site_no
		FROM tb_badminton
		WHERE date = #{date} AND start_time <![CDATA[>=]]> #{start_time} AND end_time <![CDATA[<=]]> #{end_time} AND ispay = '1'
		UNION
		SELECT site_no
		FROM tb_badminton
		WHERE date = #{date} AND start_time <![CDATA[<]]> #{start_time} AND end_time <![CDATA[>]]> #{end_time} AND ispay = '1'
		UNION
		SELECT site_no
		FROM tb_badminton
		WHERE date = #{date} AND start_time <![CDATA[<=]]> #{start_time} AND end_time <![CDATA[>]]> #{start_time} AND end_time <![CDATA[<=]]> #{end_time} AND ispay = '1'
    </select>

    <select id="getBookedSiteByLong" resultType="string">
        SELECT site_no
		FROM tb_badminton_long
		WHERE week = #{week} AND start_time <![CDATA[>=]]> #{start_time} AND end_time <![CDATA[>=]]> #{end_time} AND start_time <![CDATA[<]]> #{end_time}
		UNION
		SELECT site_no
		FROM tb_badminton_long
		WHERE week = #{week} AND start_time <![CDATA[>=]]> #{start_time} AND end_time <![CDATA[<=]]> #{end_time}
		UNION
		SELECT site_no
		FROM tb_badminton_long
		WHERE week = #{week} AND start_time <![CDATA[<]]> #{start_time} AND end_time <![CDATA[>]]> #{end_time}
		UNION
		SELECT site_no
		FROM tb_badminton_long
		WHERE week = #{week} AND start_time <![CDATA[<=]]> #{start_time} AND end_time <![CDATA[>]]> #{start_time} AND end_time <![CDATA[<=]]> #{end_time}
    </select>

    <select id="getAllUser" resultType="admin.vo.User">
        SELECT id, name, phone, site_no, '羽毛球场' type, start_time, end_time, week
        FROM tb_badminton_long
        <where>
            <if test="name != null and name != ''">
                name = #{name}
            </if>
            <if test="phone != null and phone != ''">
                AND phone = #{phone}
            </if>
            <if test="week != 7">
                AND week = #{week}
            </if>
            <if test="start_time != 0">
                AND start_time = #{start_time}
            </if>
            <if test="end_time != 0">
                AND end_time = #{end_time}
            </if>
        </where>
        ORDER BY week ASC
        LIMIT #{start}, #{page_size}
    </select>

    <insert id="addUser">
        INSERT INTO tb_badminton_long (name, phone, emergencycall, week, start_time, end_time, site_no, address, remark, money)
        VALUES
        (#{name}, #{phone}, #{emergencycall}, #{week}, #{start_time}, #{end_time}, #{site_no}, #{address}, #{remark}, #{money})
    </insert>

    <select id="getUserById" resultType="admin.vo.User">
        SELECT id, '羽毛球场' type, name, phone, emergencycall, week, start_time, end_time, address, money, remark, site_no
        FROM tb_badminton_long
        WHERE id = #{id}
    </select>

    <delete id="deleteUserById">
        DELETE FROM tb_badminton_long WHERE id = #{id}
    </delete>

</mapper>