<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="admin.dao.BasketballDao">

    <select id="getAllCompleteOrder" resultType="admin.vo.Order">
        SELECT a.*, b.name
        FROM
        (
          SELECT id, userid, date, '篮球场' type, start_time, end_time, ispay, site_no, alias
          FROM tb_basketball
          WHERE iscomplete = '1'
          <if test="date != null">
              AND date = #{date}
          </if>
          <if test="start_time != null">
              AND start_time = #{start_time}
          </if>
          <if test="end_time != null">
              AND end_time = #{end_time}
          </if>
        ) a
        LEFT JOIN
        (
          SELECT id, name
          FROM tb_user
          <where>
              <if test="name != null">
                  name = #{name}
              </if>
              <if test="phone != null">
                  phone = #{phone}
              </if>
          </where>
        ) b
        ON a.userid = b.id
        ORDER BY a.date DESC LIMIT #{start}, #{page_size}
    </select>

    <select id="getAllIncompleteOrder" resultType="admin.vo.Order">
        SELECT a.*, b.name
        FROM
        (
            SELECT id, userid, date, '篮球场' type, start_time, end_time, ispay, site_no, alias
            FROM tb_basketball
            WHERE ispay = '1' AND iscomplete = '0'
            <if test="date != null">
                AND date = #{date}
            </if>
            <if test="start_time != null">
                AND start_time = #{start_time}
            </if>
            <if test="end_time != null">
                AND end_time = #{end_time}
            </if>
        ) a
        LEFT JOIN
        (
            SELECT id, name
            FROM tb_user
            <where>
                <if test="name != null">
                    name = #{name}
                </if>
                <if test="phone != null">
                    phone = #{phone}
                </if>
            </where>
        ) b
        ON a.userid = b.id
        ORDER BY a.date DESC LIMIT #{start}, #{page_size}
    </select>

    <select id="getAllUnpayOrder" resultType="admin.vo.Order">
        SELECT a.*, b.name
        FROM
        (
            SELECT id, userid, date, '篮球场' type, start_time, end_time, ispay, site_no，alias
            FROM tb_basketball
            WHERE ispay = '0'
            <if test="date != null">
                AND date = #{date}
            </if>
            <if test="start_time != null">
                AND start_time = #{start_time}
            </if>
            <if test="end_time != null">
                AND end_time = #{end_time}
            </if>
        ) a,
        (
        SELECT id, name
            FROM tb_user
            <where>
                <if test="name != null">
                    name = #{name}
                </if>
                <if test="phone != null">
                    phone = #{phone}
                </if>
            </where>
        ) b
        WHERE a.userid = b.id
        ORDER BY a.date DESC LIMIT #{start}, #{page_size}
    </select>

    <insert id="addOrder">
        INSERT INTO tb_basketball (userid, date, start_time, end_time, site_no, site_type, order_date, ispay, iscomplete, alias)
        VALUES
        ((SELECT id FROM tb_user WHERE name = #{name} AND phone = #{phone}),
          #{date}, #{start_time}, #{end_time}, #{site_no}, #{site_type}, now(), '0', '0', #{name})
    </insert>

    <select id="getUnbookedSite" resultType="string">
        SELECT site_no
		FROM tb_basketball
		WHERE date = #{date} AND start_time <![CDATA[>=]]> #{start_time} AND end_time <![CDATA[>=]]> #{end_time} AND start_time <![CDATA[<]]> #{end_time} AND ispay = '1'
		UNION
		SELECT site_no
		FROM tb_basketball
		WHERE date = #{date} AND start_time <![CDATA[>=]]> #{start_time} AND end_time <![CDATA[<=]]> #{end_time} AND ispay = '1'
		union
		SELECT site_no
		FROM tb_basketball
		WHERE date = #{date} AND start_time <![CDATA[<]]> #{start_time} AND end_time <![CDATA[>]]> #{end_time} AND ispay = '1'
		union
		SELECT site_no
		FROM tb_basketball
		WHERE date = #{date} AND start_time <![CDATA[<=]]> #{start_time} AND end_time <![CDATA[>]]> #{start_time} AND end_time <![CDATA[<=]]> #{end_time} AND ispay = '1'
    </select>

    <select id="getUnbookedSiteByLong" resultType="string">
        SELECT site_no
		FROM tb_basketball_long
		WHERE week = #{week} AND start_time <![CDATA[>=]]> #{start_time} AND end_time <![CDATA[>=]]> #{end_time} AND start_time <![CDATA[<]]> #{end_time}
		UNION
		SELECT site_no
		FROM tb_basketball_long
		WHERE week = #{week} AND start_time <![CDATA[>=]]> #{start_time} AND end_time <![CDATA[<=]]> #{end_time}
		UNION
		SELECT site_no
		FROM tb_basketball_long
		WHERE week = #{week} AND start_time <![CDATA[<]]> #{start_time} AND end_time <![CDATA[>]]> #{end_time}
		UNION
		SELECT site_no
		FROM tb_basketball_long
		WHERE week = #{week} AND start_time <![CDATA[<=]]> #{start_time} AND end_time <![CDATA[>]]> #{start_time} AND end_time <![CDATA[<=]]> #{end_time}
    </select>

</mapper>