<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="admin.dao.BasketballDao">

    <select id="getAllOrderByWechat" resultType="admin.vo.Order">
        SELECT a.*, b.name
        FROM
        (
            SELECT id, userid, date, '篮球场' type, start_time, end_time, ispay, site_no, alias
            FROM tb_basketball
            <where>
                <if test="date != null and date != ''">
                    AND date = #{date}
                </if>
                <if test="start_time != 0">
                    AND start_time = #{start_time}
                </if>
                <if test="end_time != 0">
                    AND end_time = #{end_time}
                </if>
            </where>
        ) a,
        (
            SELECT id, name
            FROM tb_user
            <where>
                <if test="name != null and name != ''">
                    name = #{name}
                </if>
                <if test="phone != null and phone != ''">
                    AND phone = #{phone}
                </if>
            </where>
        ) b
        WHERE a.userid = b.id
        ORDER BY a.date DESC LIMIT #{start}, #{page_size}
    </select>

    <select id="getAllOrderUnwechat" resultType="admin.vo.Order">
        SELECT id, userid, date, '篮球场' type, start_time, end_time, ispay, site_no, iscomplete, alias, phone
        FROM tb_basketball
        WHERE alias IS  NOT NULL AND alias != ''
        <if test="alias != null and alias != ''">
            AND alias = #{alias}
        </if>
        <if test="phone != null and phone != ''">
            AND phone = #{phone}
        </if>
        <if test="date != null and date != ''">
            AND date = #{date}
        </if>
        <if test="start_time != 0">
            AND start_time = #{start_time}
        </if>
        <if test="end_time != 0">
            AND end_time = #{end_time}
        </if>
    </select>

    <!-- <select id="getAllCompleteOrder" resultType="admin.vo.Order">
        SELECT a.*, b.name
        FROM
        (
          SELECT id, userid, date, '篮球场' type, start_time, end_time, ispay, site_no, alias
          FROM tb_basketball
          WHERE iscomplete = '1'
          <if test="date != null">
              AND date = #{date}
          </if>
          <if test="start_time != null">
              AND start_time = #{start_time}
          </if>
          <if test="end_time != null">
              AND end_time = #{end_time}
          </if>
        ) a
        LEFT JOIN
        (
          SELECT id, name
          FROM tb_user
          <where>
              <if test="name != null">
                  name = #{name}
              </if>
              <if test="phone != null">
                  AND phone = #{phone}
              </if>
          </where>
        ) b
        ON a.userid = b.id
        ORDER BY a.date DESC LIMIT #{start}, #{page_size}
    </select> -->

    <select id="getAllCompleteOrderByWechat" resultType="admin.vo.Order">
        SELECT a.*, b.name
        FROM
        (
        SELECT id, userid, date, '篮球场' type, start_time, end_time, ispay, site_no, iscomplete
        FROM tb_basketball
        WHERE iscomplete = '1'
        <if test="date != null and date != ''">
            AND date = #{date}
        </if>
        <if test="start_time != 0">
            AND start_time = #{start_time}
        </if>
        <if test="end_time != 0">
            AND end_time = #{end_time}
        </if>
        ) a,
        (
        SELECT id, name
        FROM tb_user
        <where>
            <if test="name != null and name != ''">
                name = #{name}
            </if>
            <if test="phone != null and phone != ''">
                AND phone = #{phone}
            </if>
        </where>
        ) b
        WHERE a.userid = b.id
        ORDER BY a.date DESC LIMIT #{start}, #{page_size}
    </select>

    <select id="getAllCompleteOrderUnwechat" resultType="admin.vo.Order">
        SELECT id, userid, date, '篮球场' type, start_time, end_time, ispay, site_no, iscomplete, alias, phone
        FROM tb_basketball
        WHERE alias IS  NOT NULL AND alias != '' AND iscomplete = '1'
        <if test="alias != null and alias != ''">
            AND alias = #{alias}
        </if>
        <if test="phone != null and phone != ''">
            AND phone = #{phone}
        </if>
        <if test="date != null and date != ''">
            AND date = #{date}
        </if>
        <if test="start_time != 0">
            AND start_time = #{start_time}
        </if>
        <if test="end_time != 0">
            AND end_time = #{end_time}
        </if>
    </select>

    <!-- <select id="getAllIncompleteOrder" resultType="admin.vo.Order">
        SELECT a.*, b.name
        FROM
        (
            SELECT id, userid, date, '篮球场' type, start_time, end_time, ispay, site_no, alias
            FROM tb_basketball
            WHERE ispay = '1' AND iscomplete = '0'
            <if test="date != null and date != ''">
                AND date = #{date}
            </if>
            <if test="start_time != 0">
                AND start_time = #{start_time}
            </if>
            <if test="end_time != 0">
                AND end_time = #{end_time}
            </if>
        ) a
        LEFT JOIN
        (
            SELECT id, name
            FROM tb_user
            <where>
                <if test="name != null and name != ''">
                    name = #{name}
                </if>
                <if test="phone != null and phone != ''">
                    AND phone = #{phone}
                </if>
            </where>
        ) b
        ON a.userid = b.id
        ORDER BY a.date DESC LIMIT #{start}, #{page_size}
    </select> -->

    <select id="getAllInCompleteOrderByWechat" resultType="admin.vo.Order">
        SELECT a.*, b.name
        FROM
        (
        SELECT id, userid, date, '篮球场' type, start_time, end_time, ispay, site_no, alias
        FROM tb_basketball
        WHERE ispay = '1' AND iscomplete = '0'
        <if test="date != null and date != ''">
            AND date = #{date}
        </if>
        <if test="start_time != 0">
            AND start_time = #{start_time}
        </if>
        <if test="end_time != 0">
            AND end_time = #{end_time}
        </if>
        ) a,
        (
        SELECT id, name
        FROM tb_user
        <where>
            <if test="name != null and name != ''">
                name = #{name}
            </if>
            <if test="phone != null and phone != ''">
                AND phone = #{phone}
            </if>
        </where>
        ) b
        WHERE a.userid = b.id
        ORDER BY a.date DESC LIMIT #{start}, #{page_size}
    </select>

    <select id="getAllInCompleteOrderUnwechat" resultType="admin.vo.Order">
        SELECT id, userid, date, '篮球场' type, start_time, end_time, ispay, site_no, iscomplete, alias, phone
        FROM tb_basketball
        WHERE alias IS  NOT NULL AND alias != '' AND ispay = '1' AND iscomplete = '0'
        <if test="alias != null and alias != ''">
            AND alias = #{alias}
        </if>
        <if test="phone != null and phone != ''">
            AND phone = #{phone}
        </if>
        <if test="date != null and date != ''">
            AND date = #{date}
        </if>
        <if test="start_time != 0">
            AND start_time = #{start_time}
        </if>
        <if test="end_time != 0">
            AND end_time = #{end_time}
        </if>
    </select>

    <!-- <select id="getAllUnpayOrder" resultType="admin.vo.Order">
        SELECT a.*, b.name
        FROM
        (
            SELECT id, userid, date, '篮球场' type, start_time, end_time, ispay, site_no，alias
            FROM tb_basketball
            WHERE ispay = '0'
            <if test="date != null">
                AND date = #{date}
            </if>
            <if test="start_time != null">
                AND start_time = #{start_time}
            </if>
            <if test="end_time != null">
                AND end_time = #{end_time}
            </if>
        ) a,
        (
        SELECT id, name
            FROM tb_user
            <where>
                <if test="name != null">
                    name = #{name}
                </if>
                <if test="phone != null">
                    AND phone = #{phone}
                </if>
            </where>
        ) b
        WHERE a.userid = b.id
        ORDER BY a.date DESC
        LIMIT #{start}, #{page_size}
    </select> -->

    <select id="getAllUnpayOrderByWechat" resultType="admin.vo.Order">
        SELECT a.*, b.name
        FROM
        (
        SELECT id, userid, date, '篮球场' type, start_time, end_time, ispay, site_no, iscomplete, alias
        FROM tb_basketball
        WHERE ispay = '0'
        <if test="date != null and date != ''">
            AND date = #{date}
        </if>
        <if test="start_time != 0">
            AND start_time = #{start_time}
        </if>
        <if test="end_time != 0">
            AND end_time = #{end_time}
        </if>
        ) a,
        (
        SELECT id, name
        FROM tb_user
        <where>
            <if test="name != null and name != ''">
                name = #{name}
            </if>
            <if test="phone != null and phone != ''">
                AND phone = #{phone}
            </if>
        </where>
        ) b
        WHERE a.userid = b.id
        ORDER BY a.date DESC LIMIT #{start}, #{page_size}
    </select>

    <select id="getAllUnpayOrderUnwechat" resultType="admin.vo.Order">
        SELECT id, userid, date, '篮球场' type, start_time, end_time, ispay, site_no, iscomplete, alias, phone
        FROM tb_basketball
        WHERE alias IS  NOT NULL AND alias != '' AND ispay = '0'
        <if test="alias != null and alias != ''">
            AND alias = #{alias}
        </if>
        <if test="phone != null and phone != ''">
            AND phone = #{phone}
        </if>
        <if test="date != null and date != ''">
            AND date = #{date}
        </if>
        <if test="start_time != 0">
            AND start_time = #{start_time}
        </if>
        <if test="end_time != 0">
            AND end_time = #{end_time}
        </if>
    </select>

    <insert id="addOrder">
        INSERT INTO tb_basketball (userid, date, start_time, end_time, site_no, site_type, order_date, ispay, iscomplete, alias)
        VALUES
        ((SELECT id FROM tb_user WHERE name = #{name} AND phone = #{phone}),
          #{date}, #{start_time}, #{end_time}, #{site_no}, #{site_type}, now(), '0', '0', #{name})
    </insert>

    <select id="getUnbookedSite" resultType="string">
        SELECT site_no
		FROM tb_basketball
		WHERE date = #{date} AND start_time <![CDATA[>=]]> #{start_time} AND end_time <![CDATA[>=]]> #{end_time} AND start_time <![CDATA[<]]> #{end_time} AND ispay = '1'
		UNION
		SELECT site_no
		FROM tb_basketball
		WHERE date = #{date} AND start_time <![CDATA[>=]]> #{start_time} AND end_time <![CDATA[<=]]> #{end_time} AND ispay = '1'
		union
		SELECT site_no
		FROM tb_basketball
		WHERE date = #{date} AND start_time <![CDATA[<]]> #{start_time} AND end_time <![CDATA[>]]> #{end_time} AND ispay = '1'
		union
		SELECT site_no
		FROM tb_basketball
		WHERE date = #{date} AND start_time <![CDATA[<=]]> #{start_time} AND end_time <![CDATA[>]]> #{start_time} AND end_time <![CDATA[<=]]> #{end_time} AND ispay = '1'
    </select>

    <select id="getUnbookedSiteByLong" resultType="string">
        SELECT site_no
		FROM tb_basketball_long
		WHERE week = #{week} AND start_time <![CDATA[>=]]> #{start_time} AND end_time <![CDATA[>=]]> #{end_time} AND start_time <![CDATA[<]]> #{end_time}
		UNION
		SELECT site_no
		FROM tb_basketball_long
		WHERE week = #{week} AND start_time <![CDATA[>=]]> #{start_time} AND end_time <![CDATA[<=]]> #{end_time}
		UNION
		SELECT site_no
		FROM tb_basketball_long
		WHERE week = #{week} AND start_time <![CDATA[<]]> #{start_time} AND end_time <![CDATA[>]]> #{end_time}
		UNION
		SELECT site_no
		FROM tb_basketball_long
		WHERE week = #{week} AND start_time <![CDATA[<=]]> #{start_time} AND end_time <![CDATA[>]]> #{start_time} AND end_time <![CDATA[<=]]> #{end_time}
    </select>

    <select id="getAllUser" resultType="admin.vo.User">
        SELECT id, name, phone, site_no, '篮球场' type, start_time, end_time, week
        FROM tb_basketball_long
        <where>
            <if test="name != null and name != ''">
                name = #{name}
            </if>
            <if test="phone != null and phone != ''">
                AND phone = #{phone}
            </if>
            <if test="week != 7">
                AND week = #{week}
            </if>
            <if test="start_time != 0">
                AND start_time = #{start_time}
            </if>
            <if test="end_time != 0">
                AND end_time = #{end_time}
            </if>
        </where>
        ORDER BY week ASC
        LIMIT #{start}, #{page_size}
    </select>

    <insert id="addUser">
        INSERT INTO tb_basketball_long (name, phone, emergencycall, week, start_time, end_time, site_no, site_type, address, remark, money)
        VALUES
        (#{name}, #{phone}, #{emergencycall}, #{week}, #{start_time}, #{end_time}, #{site_no}, #{site_type}, #{address}, #{remark}, #{money})
    </insert>

    <select id="getUserById" resultType="admin.vo.User">
        SELECT id, '篮球场' type, name, phone, emergencycall, week, start_time, end_time, address, money, remark, site_no
        FROM tb_basketball_long
        WHERE id = #{id}
    </select>

    <delete id="deleteUserById">
        DELETE FROM tb_basketball_long WHERE id = #{id}
    </delete>

</mapper>